/.env
/DejaVuSansCondensed.ttf
/ExcelScript.py
/ExcelScript2.py
/ExcelScript3.py
/ExcelScript4.py
/ExcelScript5.py
/ExcelScript6.py
/Helvetica.pkl
/Helvetica.ttf
/output.png
/slovar.csv
/slovar2.csv
/Svodka.xlsx
/test.pdf
/test.xlsx
/tfpdf
/__pycache__
/~$Svodka.xlsx